
@font-face {
    font-family: NATS;
    src: url(../nats-cufonfonts/NATS-Regular.ttf);
    font-weight: bold;
  }
html{
      overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'NATS', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex-element{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    z-index: 1;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(122,122,122,1);
    box-shadow: 0px 5px 5px 0px rgba(122,122,122,1);
    position: fixed;
    background-color: rgb(249, 253, 253);
    margin: 0;
    width: 100vw;
    height: 20vh;
    top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul{
    width: 100vw;
    list-style: none;
    flex-direction: row;
    padding: 0;
}
nav ul li{
    width: auto;
    padding: 0 3vh;
    font-size: 3vh;
    letter-spacing: 0.8vh;
    margin: 0;
    text-align: center;
    font-weight: normal;
    border-right: solid 0.3vh rgb(66, 66, 66);
}
nav ul li:last-child{
    border: none;
}
nav ul li:hover{
    font-size: 3.5vh;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(87, 84, 84);
}
main{
    margin-top: 20vh;
    width: 100vw;
    height: 640vh;
    flex-direction: column;
}
#cover-img{
    width: 100vw;
    height: 120vh;
    background-image: url('./img/laptop-bkg.jpg');
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
}
#cover-page{
    width: 100vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.849);
    flex-direction: column;
    color: whitesmoke;
}
h1, h2{
    text-align: center;
    margin: 0;
    font-size: 4vh;
    font-weight: normal;
    color: rgb(246, 244, 244);
    color: whitesmoke;
}
h2{
    width: 30vw;
    border-top: 2px solid rgb(122, 5, 255)
}
#about-me{
    width: 100vw;
    height: 115vh;
    flex-direction: column;
}
#about-me h3{
    width: 100vw;
    background-color: rgb(252, 245, 244);
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    align-self: center;
    font-size: 8vh;
    height: 35vh;
    letter-spacing: 1vh;
}
#about-me-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color: rgb(117, 18, 248);
}
.my-photo:hover, .actual-skill-icon:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);

}
#about-me-content p{
    font-size: 4vh;
    text-align: center;
    color: whitesmoke;
    width: 50vw;
    height: 45vh;
    padding-top: auto;
}
#projects{
    flex-direction:column;
    width: 100vw;
    height: 155vh;
}
#project-tittle{
    margin: 0;
    flex-direction:row;
    width: 100vw;
    height: 35vh;
    background-color: rgb(252, 245, 244);
}
.portafolio-icon{
    margin-right: 3vh;
    height: 18vh;
    max-width: 20vw;
}
#project-content{
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}
.actual-project {
    width: 45vw;
    height: 53vh;
    margin: auto;
    padding: 0;
    flex-direction:column;
    position: relative;
}
.project-img{
   box-shadow: 0px 0px 22px -8px rgba(87,87,87,1);
    width: 45vw;
    height: 45vh;
    border-radius: 25px;
}
.desktop{
    width: 6vw;
    height: 8vh;
    visibility: hidden;
}
.project-info{
    top: 0;
    margin: 0;
    border-radius: 25px;
    background-color: rgba(19, 19, 18, 0.664);
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
}
#citalk:hover .project-info,
#bunker:hover .project-info,
#wikiatletas:hover .project-info,
#mdlinks:hover .project-info{
    width: 45vw;
    height: 45vh;
}
#citalk:hover .desktop, 
#bunker:hover .desktop,
#wikiatletas:hover .desktop,
#mdlinks:hover .desktop{
    visibility: visible;
}
.demo-btn{
    text-align: center;
    font-size: 3.2vh;
    line-height: 9vh;
    text-decoration: none;
    width: 10vw;
    height: 9vh;
    color: rgb(25, 25, 26);
    background-color: rgba(247, 247, 247, 0.87);
    border-radius: 5vh;
    transition: 0.8s;
}
.demo-btn:hover{
    background-color: rgb(117, 0, 212);
    color: oldlace;
}
#skills{
     width: 100vw;
     height: 250vh;
}
#skills h3{
    box-sizing: border-box;
    background-color: rgb(252, 245, 244);
    width: 100vw;
    padding: 0;
    margin: 0;
}
#skills-content{
    width: 100vw;
    height: 215vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#hard-skills {
    width: 100vw;
    flex-direction: column;
    height: 105vh;
}
#soft-skills{
    width: 100vw;
    flex-direction: column;
    height: 95vh;
}
.actual-skill-icon{
    margin: 0;
    height: 200px;
    width: 200px;
}
.soft-skill-item{
    width: auto;
    height: 80px;
}
.soft-item{
    text-align: center;
    width: 18vw;
    height: 22vh;
}
.soft-item p{
    font-size: 3vh;
    margin: 0;
    padding: 0;
}
.skill-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 30px -8px rgba(87,87,87,1);
    -moz-box-shadow: 0px 0px 30px -8px rgba(87,87,87,1);
    box-shadow: 0px 0px 30px -8px rgba(87,87,87,1);
    color: rgb(83, 83, 83);
    border-radius: 5vh;
    width: 65vw;
    height: 75vh;
}
#soft-skills .skill-items{
    height: 65vh;
    padding-top: 6vh;
    justify-content: space-evenly;
    align-items: baseline;
}
.actual-item > p, .dev-item > p{
    font-size: 3.5vh;
    margin: 0;
    color:rgb(255, 98, 119);
}
.dev-item p{
    margin: 0;
}
.slash{
    color:rgb(255, 98, 119);
}
.actual-item{
    margin-top: 3vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18vw;
    height: 26vh;
}
.actual-item ul, .dev-item ul{
    font-size: 3vh;
    margin: 0;
    width: 16vw;
    text-align: center;
    padding: 0;
    list-style: none;
}
.actual-item .framework{
    font-size: 3vh;
    color: rgb(83, 83, 83);
}
.dev-item{
    display: flex;
    align-items: center;
    padding-top: 5vh;
    box-sizing: border-box;
    flex-direction: column;
    width: 54vw;
    height: 35vh;
    border-top: solid 2px rgb(245, 2, 95);
}
.dev-item ul{
    width: 18vw;
}
.dev-item div{
    display: flex;
    justify-content: center;
    width: 54vw;
    flex-direction: row;
}
footer{
    color: #ffffff;
    flex-direction: column;
    width: 100vw;
    height: 280px;
    background-color: rgb(107, 13, 230)
}
footer p {
    word-spacing: 8px;
    margin: 1vh;
    padding: 0;
    font-size: 24px;
    height: 50px;
}
footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 120px;
    height: 60px;
}
footer img{
    position: relative;
    top: 1vh;
    width: 4vh;
}
.fa-linkedin, .fa-github{
    color: #ffffff;
    font-size: 35px;
}
.fa-linkedin:hover, .fa-github:hover{
    font-size: 40px;
}
@media  (min-width: 320px) and (max-width: 1024px){
    nav{
        height: 110px;
    }
    nav ul li{
        font-size: 17px;
        padding: 0 8px;
        letter-spacing: 0;
    }
    nav ul li:hover{
        font-size: 16px;
    }
    main{ 
        margin-top: 110px;
        height: 670vh;
    }
    #cover-img{
        height: 70vh;
        background-size: 100vw 70vh;
    }
    #cover-page{
        height: 70vh;
    }
    h1, h2{
        font-size: 20px;
    }
    h2{
        width: 70vw;
    }
    #about-me{
        width: 100vw;
        height: 120vh;
    }
    h3{
        height: 20vh;
        font-size: 30px;
    }
    #about-me-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .my-photo{
        height: 30vh;
    }
    #about-me-content p{
        font-size: 24px;
        line-height: 35px;
        width: 90vw;
        height: auto;
        margin: 0;
        margin-top: 5vh;
    }
    #projects{
        height: 180vh;
    }
    #project-tittle{
        height: 20vh;
    }
    .portafolio-icon{
        margin-right: 1vh;
        max-width: 18vw;
        height: 10vh;
    }
    #project-content{
        height: 160vh;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .actual-project {
        width: 100vw;
        height: 230px;
        flex-direction: column;
    }
    .project-img{
      width: 350px;
      height: 200px;
    }
    .desktop{
        width: 50px;
        height: 30px;
    }
    .project-info{
        top: 0vh;
    }
    #citalk:hover .project-info,
    #bunker:hover .project-info,
    #wikiatletas:hover .project-info,
    #mdlinks:hover .project-info{
      width: 350px;
      height: 200px;
    }
    .demo-btn{
        font-size: 2.8vh;
        line-height: 7vh;
        width: 30vw;
        height: 7vh;
    }
    #skills{
         height: 300vh;
         font-size: 3;
    }
    #skills h3{
        font-size: 4.5;
    }
    #skills-content{
        width: 100vw;
        height: 280vh;
    }
    #hard-skills, #soft-skills{
        height: 135vh;
        width: 100vw;
    }
    #soft-skills{
        height: 130vh;
    }
    #hard-skills .skill-icon{
        height: 22vh;
    }
    .actual-skill-icon{
        width: 130px;
        height: 130px;
    }
    .soft-skill-item{
        width: 50px;
        height: 50px;
    }
    .soft-item{
        margin: 0;
        width: 80vw;
        height: 18vh;
    }
    .soft-item p{
        font-size: 3;
    }
    .skill-items{
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-evenly;
        width: 95vw;
        height: 115vh;
    }
    #soft-skills .skill-items{
        padding: 0;
        height: 110vh;
        align-items: center;
    }
    .actual-item p, .dev-item p{
        font-size: 3.5vh;
        border-radius: 2vh;
    }
    .actual-item{
        padding: 0;
        margin: 0;
        width: 80vw;
        height: 24vh;
    }
    .last-item{
        height: 14vh;
    }
    .actual-item ul, .dev-item ul{
        width: 70vw;
        line-height: 5.5vh;
        height: 15vh;
        font-size: 3vh;
    }
    .dev-item{
        margin: 0;
        padding: 0;
        border: none;
        width: 90vw;
        height: 43vh;
    }
    .dev-item div{
        width: 90vw;
        flex-direction: column;
        height: 35vh;
    }
    .dev-item ul{
        height: 17vh;
        width: 90vw;
    }
    .dev-item div ul p{
        font-size: 3vh;
    }
    footer{
        height: 30vh;
    }
    footer p {
        margin: 0;
        font-size: 22px;
        height: auto;
    }
    footer p:first-child{
        margin-top: 2vh;
    }
    footer img{
        width: 3vh;
    }
    footer div {
        width: 100px;
        height: 50px;
    }
    .fa-linkedin, .fa-github{
        font-size: 30px;
    }
}