
@font-face {
    font-family: NATS;
    src: url(../nats-cufonfonts/NATS-Regular.ttf);
    font-weight: bold;
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'NATS', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex-element{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    z-index: 1;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(122,122,122,1);
    box-shadow: 0px 5px 5px 0px rgba(122,122,122,1);
    position: fixed;
    /* border: solid red; */
    background-color: rgb(249, 253, 253);
    color: rgb(87, 84, 84);
    margin: 0;
    width: 100vw;
    height: 20vh;
    top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul{
    width: 56vw;
    list-style: none;
    /* border: solid rgb(19, 202, 172); */
    flex-direction: row;
    padding: 0;
}
nav ul li{
    font-size: 3vh;
    letter-spacing: 0.8vh;
    margin: 0;
    text-align: center;
    width: 14vw;
    font-weight: normal;
    border-right: solid 0.3vh rgb(66, 66, 66);
    /* border: solid red; */
}
nav ul li:last-child{
    border: none;
}
nav ul li:hover{
    font-size: 3.5vh;
    cursor: pointer;
    /* color: rgb(5, 255, 213); */
}
a{
    text-decoration: none;
}
main{
    margin-top: 20vh;
    /* border: solid rgb(19, 202, 172); */
    width: 100vw;
    height: 645vh;
    flex-direction: column;
}
#cover-img{
    width: 100vw;
    height: 120vh;
    background-image: url('./img/laptop-bkg.jpg');
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
}
#cover-page{
    /* border: solid rgb(16, 19, 18); */
    width: 100vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.849);
    flex-direction: column;
    color: whitesmoke;
}
h1, h2{
    text-align: center;
    margin: 0;
    /* border: solid rgb(17, 238, 164); */
    font-size: 4vh;
    font-weight: normal;
    color: rgb(246, 244, 244);
    color: whitesmoke;
}
h2{
    width: 30vw;
    border-top: 2px solid rgb(122, 5, 255)
}
#about-me{
    width: 100vw;
    height: 115vh;
    /* border: solid blue; */
    flex-direction: column;
}
#about-me h3{
    width: 100vw;
    background-color: rgb(252, 245, 244);
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    align-self: center;
    font-size: 8vh;
    height: 35vh;
    /* border: solid blue; */
    letter-spacing: 1vh;
}
#about-me-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color: rgb(117, 18, 248);
}
.my-photo:hover, .actual-skill-icon:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);

}
#about-me-content p{
    /* border: solid palegoldenrod; */
    font-size: 4vh;
    text-align: center;
    color: whitesmoke;
    width: 50vw;
    height: 45vh;
    padding-top: auto;
}
#projects{
    /* border: solid rgb(121, 112, 15); */
    flex-direction:column;
    width: 100vw;
    height: 165vh;
}
#project-tittle{
    /* border: solid rgb(245, 6, 205); */
    margin: 0;
    flex-direction:row;
    width: 100vw;
    height: 35vh;
    background-color: rgb(252, 245, 244);
}
.portafolio-icon{
    margin-right: 3vh;
    height: 18vh;
    max-width: 20vw;
}
#project-content{
    /* border: solid rgb(60, 255, 0); */
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}
.actual-project {
    /* border: solid blue; */
    width: 45vw;
    height: 53vh;
    margin: auto;
    padding: 0;
    flex-direction:column;
    position: relative;
}
.project-img{
    width: 45vw;
    height: 45vh;
    border-radius: 5vh;
}
.desktop{
    /* border: solid purple; */
    width: 6vw;
    height: 8vh;
    visibility: hidden;
}
.project-info{
    top: 0;
    margin: 0;
    border-radius: 5vh;
    /* border: solid brown; */
    background-color: rgba(19, 19, 18, 0.664);
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
}
#citalk:hover .project-info,
#wikiatletas:hover .project-info,
#mdlinks:hover .project-info{
    width: 45vw;
    height: 45vh;
}
#citalk:hover .desktop, 
#wikiatletas:hover .desktop,
#mdlinks:hover .desktop{
    visibility: visible;
}
.demo-btn{
    text-align: center;
    font-size: 3.2vh;
    line-height: 9vh;
    text-decoration: none;
    width: 10vw;
    height: 9vh;
    color: rgb(25, 25, 26);
    background-color: rgba(247, 247, 247, 0.87);
    border-radius: 5vh;
    transition: 0.8s;
}
.demo-btn:hover{
    background-color: rgb(117, 0, 212);
    color: oldlace;
}
#skills{
     /* border: solid 1vh brown; */
     width: 100vw;
     height: 245vh;
}
#skills h3{
    box-sizing: border-box;
    background-color: rgb(252, 245, 244);
    width: 100vw;
    padding: 0;
    margin: 0;
}
#skills-content{
    width: 100vw;
    height: 210vh;
    /* border: solid rgb(226, 16, 245); */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#hard-skills, #soft-skills{
    height: 110vh;
    /* border: solid rgb(151, 10, 121); */
    width: 100vw;
    flex-direction: column;
}
#soft-skills{
    height: 90vh;
}
.skill-icon{
    padding: 0;
    /* border: solid rgb(197, 138, 9); */
    width: 40vw;
    height: 45vh;
}
#hard-skills .skill-icon{
    width: 40vw;
    height: 35vh;
    /* border: solid rgb(197, 138, 9); */
}
.actual-skill-icon{
    margin: 0;
    /* border: solid rgb(197, 138, 9); */
    max-width: 15vw;
    height: 30vh;
}
.soft-skill-item{
    max-width: 12vw;
    height: 12vh;
}
.soft-item{
    text-align: center;
    /* border: solid green; */
    width: 18vw;
    height: 22vh;
}
.soft-item p{
    font-size: 3vh;
    /* border: solid black; */
    margin: 0;
    padding: 0;
}
.skill-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 30px -8px rgba(87,87,87,1);
    -moz-box-shadow: 0px 0px 30px -8px rgba(87,87,87,1);
    box-shadow: 0px 0px 30px -8px rgba(87,87,87,1);
    color: rgb(83, 83, 83);
    border-radius: 5vh;
    width: 65vw;
    height: 75vh;
}
#soft-skills .skill-items{
    padding-top: 6vh;
    justify-content: space-evenly;
    align-items: baseline;
}
.actual-item > p, .dev-item > p{
    font-size: 3.5vh;
    margin: 0;
    color:rgb(255, 98, 119);
    /* border: solid 2px rgb(109, 5, 206); */
}
.dev-item p{
    margin: 0;
}
.slash{
    color:rgb(255, 98, 119);
}
.actual-item{
    margin-top: 3vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18vw;
    height: 26vh;
    /* border: solid rgba(2, 255, 179, 0.397); */
}
.actual-item ul, .dev-item ul{
    font-size: 3vh;
    margin: 0;
    width: 16vw;
    text-align: center;
    padding: 0;
    list-style: none;
    /* border: solid rgb(147, 197, 9); */
}
.actual-item .framework{
    font-size: 3vh;
    color: rgb(83, 83, 83);
}
.dev-item{
    /* border: solid rgba(2, 255, 179, 0.397); */
    display: flex;
    align-items: center;
    padding-top: 5vh;
    box-sizing: border-box;
    flex-direction: column;
    width: 54vw;
    height: 35vh;
    border-top: solid 2px rgb(245, 2, 95);
}
.dev-item ul{
    width: 18vw;
    /* border: solid rgb(147, 197, 9); */
}
.dev-item div{
    display: flex;
    justify-content: center;
    width: 54vw;
    flex-direction: row;
    /* border: solid rgb(147, 197, 9); */
}
footer{
    color: #ffffff;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    background-color: rgb(107, 13, 230)
}
footer p {
    word-spacing: 1vh;
    margin: 1vh;
    padding: 0;
    /* border: solid red; */
    font-size: 3.5vh;
    height:6vh;
}
footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 10vw;
    height: 12vh;
}
footer img{
    width: 4vh;
}
.fa-linkedin, .fa-github{
    color: #ffffff;
    font-size: 6vh;
}
.fa-linkedin:hover, .fa-github:hover{
    font-size: 7vh;
}
@media  (min-width: 320px) and (max-width: 1024px){
    nav{
        height: 15vh;
    }
    nav ul{
        width: 100vw;
    }
    nav ul li{
        font-size: 2vh;
        width: 22vw;
        letter-spacing: 0vh;
    }
    nav ul li:hover{
        font-size: 2.5vh;
    }
    main{ 
        margin-top: 15vh;
        height: 680vh;
    }
    #cover-img{
        /* border: solid red; */
        height: 70vh;
        background-size: 100vw 70vh;
    }
    #cover-page{
        height: 70vh;
    }
    h1, h2{
        font-size: 3vh;
    }
    h2{
        width: 70vw;
    }
    #about-me{
        width: 100vw;
        height: 120vh;
    }
    h3{
        height: 20vh;
        font-size: 4.5vh;
    }
    #about-me-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .my-photo{
        height: 30vh;
    }
    #about-me-content p{
        /* border: solid red; */
        font-size: 3.7vh;
        line-height: 5vh;
        width: 90vw;
        height: auto;
        margin: 0;
        margin-top: 5vh;
    }
    #projects{
        height: 180vh;
        /* border: solid rgb(123, 212, 6); */
        justify-content: unset;
    }
    #project-tittle{
        height: 20vh;
        /* border: solid red; */
    }
    .portafolio-icon{
        margin-right: 1vh;
        max-width: 18vw;
        height: 10vh;
    }
    #project-content{
        /* border: solid rgb(111, 0, 255); */
        height: 160vh;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .actual-project {
        margin-top: 0;
        /* border: solid red;  */
        width: 100vw;
        height: 37vh;
        flex-direction: column;
    }
    .project-img{
        width: 90vw;
        height: 30vh;
        border-radius: 5vh;
    }
    .desktop{
        width: 15vw;
        height: 7vh;
    }
    .project-info{
        top: 0vh;
    }
    #citalk:hover .project-info,
    #wikiatletas:hover .project-info,
    #mdlinks:hover .project-info{
        width: 90vw;
        height: 30vh;
    }
    .demo-btn{
        font-size: 2.8vh;
        line-height: 7vh;
        width: 30vw;
        height: 7vh;
    }
    #skills{
        /* border: solid orange; */
         width: 100vw;
         height: 310vh;
         font-size: 3;
    }
    #skills h3{
        font-size: 4.5;
        width: 100vw;
        height: 20vh;
    }
    #skills-content{
        width: 100vw;
        height: 290vh;
        justify-content: space-evenly;
        /* border: solid rgb(0, 0, 0); */
    }
    #hard-skills, #soft-skills{
        height: 140vh;
        width: 100vw;
        flex-direction: column;
        /* border: solid rgb(0, 255, 106); */
    }
    #soft-skills{
        height: 140vh;
    }
    .skill-icon{
        /* border: solid orange; */
        width: 40vw;
        height: 24vh;
        margin: 0;
    }
    #hard-skills .skill-icon{
        width: 40vw;
        height: 22vh;
    }
    .actual-skill-icon{
        max-width: 40vw;
        height: 20vh;
    }
    .soft-skill-item{
        max-width: 25vw;
        height: 10vh;
    }
    .soft-item{
        margin: 0;
        /* border: solid blue; */
        width: 80vw;
        height: 18vh;
    }
    .soft-item p{
        /* border: solid blue; */
        padding: 0;
        margin: 0;
        font-size: 3;
    }
    .skill-items{
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-evenly;
        width: 95vw;
        height: 115vh;
    }
    #soft-skills .skill-items{
        padding: 0;
        height: 110vh;
        align-items: center;
        justify-content: space-evenly;
        /* padding-top: 3vh; */
    }
    .actual-item p, .dev-item p{
        font-size: 3.5vh;
        border-radius: 2vh;
    }
    .actual-item{
        padding: 0;
        margin: 0;
        /* border: solid red; */
        width: 80vw;
        height: 24vh;
    }
    .second-item{
        height: 19vh;
    }
    .last-item{
        height: 14vh;

    }
    .actual-item ul, .dev-item ul{
        width: 70vw;
        /* border: solid red; */
        line-height: 5.5vh;
        height: 15vh;
        font-size: 3vh;
    }
    .dev-item{
        margin: 0;
        padding: 0;
        border: none;
        width: 90vw;
        height: 43vh;
        /* border: solid red; */
    }
    .dev-item div{
        /* border: solid rgb(12, 250, 210); */
        width: 90vw;
        flex-direction: column;
        height: 35vh;
    }
    .dev-item ul{
        /* border: solid red; */
        height: 18vh;
        width: 90vw;
    }
    .dev-item div ul p{
        font-size: 3vh;
    }
    footer{
        height: 30vh;
    }
    footer p {
        /* border: solid red; */
        margin: 0;
        font-size: 3vh;
        height: auto;
    }
    footer p:first-child{
        margin-top: 2vh;
    }
    footer div {
        /* border: solid red; */
        width: 30vw;
        height: 8vh;
    }
    .fa-linkedin, .fa-github{
        font-size: 5vh;
    }
}

@media (min-width: 700px) and (max-width: 1024px) { 
    .actual-skill-icon{
        width: 28vw;
    }
    .portafolio-icon{
        width: 15vw;
    }
    .project-img{
        width: 85vw;
    }
    .desktop{
        width: 13vw;
    }
    #citalk:hover .project-info,
    #wikiatletas:hover .project-info,
    #mdlinks:hover .project-info{
        width: 85vw;
    }

}