@font-face {
    font-family: NATS;
    src: url(../nats-cufonfonts/NATS-Regular.ttf);
    font-weight: bold;
  }
*{
  box-sizing: border-box;
}
#google_translate_element, .skiptranslate{
    display: none;
  }
html{
      overflow-x: hidden;
}
body{
    top: 0 !important;
    width: 100%;
    min-width: 400px;
    margin: 0;
    padding: 0;
    font-family: 'NATS', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex-element{
    display: flex;
    justify-content: center;
    align-items: center;
}
  /* -------------MENU------------ */
nav{
    z-index: 1;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(122,122,122,1);
    box-shadow: 0px 5px 5px 0px rgba(122,122,122,1);
    position: fixed;
    background-color: rgb(249, 253, 253);
    margin: 0;
    width: 100%;
    height: 140px;
    top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul{
    width: 100%;
    list-style: none;
    flex-direction: row;
    padding: 0;
}
nav ul li{
    width: auto;
    padding: 0 28px;
    font-size: 18px;
    letter-spacing: 6px;
    margin: 0;
    text-align: center;
    font-weight: normal;
    border-right: solid 1.5px rgb(114, 114, 114);
}
nav ul li:last-child{
    border: none;
}
nav ul li:hover{
    font-size: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(87, 84, 84);
}
#flag{
    position: absolute;
    right: 50px;
    top: 100px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
#flag option{
    font-family: 'NATS', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    margin-top: 140px;
    width: 100%;
    height: auto;
    flex-direction: column;
}
/* --------------------PORTADA----------------------- */
#cover-img{
    width: 100%;
    height: 650px;
    background-image: url('./img/background.png');
    background-size: 100vw 650px;
    background-repeat: no-repeat;
}
#cover-page{
    width: 100%;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.822);
    flex-direction: column;
    color: whitesmoke;
}
h1, h2{
    text-align: center;
    margin: 0;
    font-size: 28px;
    font-weight: normal;
    color: rgb(246, 244, 244);
    color: whitesmoke;
}
h2{
    width: 500px;
    border-top: 2px solid rgb(122, 5, 255)
}
#about-me{
    width: 100%;
    height: auto;
    flex-direction: column;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    align-self: center;
    font-size: 36px;
    height: 200px;
    letter-spacing: 1vh;
}
#about-me h3{
    width: 100%;
    background-color: rgb(252, 245, 244);
}
/* -------------SECCION SOBRE MI-------------- */
#about-me-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: rgb(117, 18, 248);
}
.my-photo{
  width: 235px;
  height: 250px;
}
/* -----------ICONO DE HABILIDAD--------- */
.actual-skill-icon{
    margin-bottom: 5px;
    height: 200px;
    width: 200px;
}
.my-photo:hover, .actual-skill-icon:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
#about-me-content p{
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
    width: 50%;
}
/* -------------SECCION PROYECTOS-------------- */
#projects{
    flex-direction:column;
    width: 100%;
    height: auto;
}
#project-tittle{
    margin: 0;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: rgb(252, 245, 244);
}
.portafolio-icon{
    margin-right: 15px;
    height: 90px;
}
#project-content{
    width: 100%;
    margin-top:  50px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}
.actual-project {
    width: 45%;
    height: auto;
    margin: 18px 0;
    padding: 0;
    flex-direction: column;
    position: relative;
}
.project-img{
    max-height: 350px;
    max-width: 650px;
    box-shadow: 0px 0px 22px -8px rgba(87,87,87,1);
    width: 100%;
    height: auto;
    border-radius: 25px;
}
.desktop{
    width: 60px;
    height: 50px;
    visibility: hidden;
}
.project-info{
    top: 0;
    margin: 0;
    border-radius: 25px;
    background-color: rgba(19, 19, 18, 0.664);
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
}
#citalk:hover .project-info,
#bunker:hover .project-info,
#wikiatletas:hover .project-info,
#mdlinks:hover .project-info{
    width: 100%;
    height: calc(100% - 50px);
}
#citalk:hover .desktop, 
#bunker:hover .desktop,
#wikiatletas:hover .desktop,
#mdlinks:hover .desktop{
    visibility: visible;
}
.demo-btn{
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    width: 140px;
    height: 60px;
    color: rgb(25, 25, 26);
    background-color: rgba(247, 247, 247, 0.87);
    border-radius: 30px;
    transition: 0.8s;
}
.demo-btn:hover{
    background-color: rgb(117, 0, 212);
    color: oldlace;
}
#skills{
     width: 100%;
     height: auto;
}
#skills h3{
    box-sizing: border-box;
    background-color: rgb(252, 245, 244);
    width: 100%;
    padding: 0;
    margin: 0;
}
/* -------------SECCION HABILIDADES-------------- */
#skills-content{
    padding: 20px 0;
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* -----------CONTENEDOR DE ITEMS--------- */
.skill-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 30px -8px rgba(87,87,87,1);
    -moz-box-shadow: 0px 0px 30px -8px rgba(87,87,87,1);
    box-shadow: 0px 0px 30px -8px rgba(87,87,87,1);
    color: rgb(83, 83, 83);
    border-radius: 28px;
    width: 65%;
    padding: 30px 0;
}
#hard-skills, #soft-skills {
    margin: 20px 0;
    width: 100%;
    flex-direction: column;
    height: auto;
}
/* ----CONTENEDOR DE CADA ITEM DE HARD SKILLS---- */
.actual-item{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: auto;
    margin-bottom: 20px;
}
/* -----------SUBTITULOS DE CADA ITEM--------- */
.actual-item > p, .dev-item > p{
    font-size: 21px;
    margin: 0;
    color:rgb(255, 98, 119);
}
/* -----------contenido de subtitulo--------- */
.actual-item ul, .dev-item ul{
    font-size: 20px;
    margin: 0;
    text-align: center;
    padding: 0;
    list-style: none;
}
.actual-item ul{
  width: 100%;
}
.dev-item ul{
  width: 40%;
}
.actual-item .framework{
    font-size: 20px;
    color: rgb(83, 83, 83);
}
.dev-item{
    display: flex;
    align-items: center;
    padding-top: 15px;
    box-sizing: border-box;
    flex-direction: column;
    width: 80%;
    border-top: solid 1.5px rgb(255, 98, 119);
}
.dev-item p{
    margin: 0;
}
.slash{
    color:rgb(255, 98, 119);
}
.dev-item div{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}
/* ----CONTENEDOR DE CADA ITEM DE SOFT SKILLS---- */
#soft-skills .skill-items{
  justify-content: space-evenly;
  align-items: baseline;
  padding: 50px 0;
}
.soft-item{
    margin: 10px 0;
    text-align: center;
    width: 33%;
    height: auto;
}
/* ----IMAGEN DE CADA ITEM DE SOFT SKILLS---- */
.soft-skill-item{
    width: 71px;
    height: 70px;
}
.soft-item p{
    font-size: 21px;
    margin: 0;
    padding: 0;
}
/* ----PIE DE PAGINA--- */
footer{
    color: #ffffff;
    flex-direction: column;
    width: 100%;
    height: 280px;
    background-color: rgb(107, 13, 230)
}
footer p {
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 5px;
    padding: 0;
    font-size: 24px;
}
footer p i{
  font-size: 20px;
}
footer img{
    position: relative;
    top: 6px;
    width: 22px;
}
footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 120px;
    height: 60px;
}
.fa-linkedin, .fa-github{
    color: #ffffff;
    font-size: 35px;
}
.fa-linkedin:hover, .fa-github:hover{
    font-size: 40px;
}
@media  (min-width: 50px) and (max-width: 700px){
  /* -------------MENU------------ */
    nav{
        height: 100px;
    }
    nav ul li{
        font-size: 14px;
        padding: 0 10px;
        letter-spacing: 1px;
    }
    nav ul li:hover{
        font-size: 16px;
    }
    #flag{
        right: 8px;
        top: 70px;
        font-size: 15px;
    }
    main{
        margin-top: 100px;
    }
    /* -------------PORTADA-------------- */
    #cover-img{
        height: 350px;
        background-size: 100% 350px;
    }
    #cover-page{
        height: 350px;
    }
    h1, h2{
        font-size: 20px;
    }
    h2{
        width: 80%;
    }
    /* -------------SECCION SOBRE MI-------------- */
    h3{
        height: 120px;
        font-size: 26px;
    }
    #about-me-content{
        flex-direction: column;
        padding: 45px 0 50px 0;
    }
    .my-photo{
        height: 200px;
        width: 190px;
    }
    #about-me-content p{
        font-size: 21px;
        line-height: 35px;
        width: 90%;
        margin: 25px 0 0 0;
    }
    /* -------------SECCION PROYECTOS-------------- */
    #project-tittle{
      height: 120px;
      font-size: 26px;
    }
    .portafolio-icon{
        height: 55px;
    }
    #project-content{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .actual-project {
        margin: 10px 0;
        width: 100%;
        height: 230px;
    }
    .project-img{
      width: 350px;
      height: 200px;
    }
    .desktop{
        width: 50px;
        height: 30px;
    }
    #citalk:hover .project-info,
    #bunker:hover .project-info,
    #wikiatletas:hover .project-info,
    #mdlinks:hover .project-info{
      width: 350px;
      height: 200px;
    }
    .demo-btn{
        font-size: 19px;
        line-height: 50px;
        width: 110px;
        height: 50px;
    }
    /* -------------SECCION HABILIDADES-------------- */
    #skills-content{
        padding: 0;
    }
    /* -----------ICONO DE HABILIDAD--------- */
    .actual-skill-icon{
        width: 130px;
        height: 130px;
    }
    /* -----------CONTENEDOR DE ITEMS--------- */
    .skill-items{
        border-radius: 26px;
        margin: 5px 0;
        padding: 10px 0;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    #soft-skills .skill-items{
        padding: 10px 0;
        align-items: center;
    }
    /* ----CONTENEDOR DE CADA ITEM DE HARD SKILLS---- */
    .actual-item{
      /* border: solid red; */
        padding: 0;
        margin: 5px 0;
        width: 100%;
    }
    /* -----------SUBTITULOS DE CADA ITEM--------- */
    .actual-item > p, .dev-item > p{
        font-size: 19px;
    }
     /* -----------contenido de subtitulo--------- */
    .actual-item ul, .dev-item ul, .actual-item .framework{
        text-align: center;
        width: 90%;
        line-height: 38px;
        font-size: 18px;
    }
    .dev-item{
        margin: 8px 0;
        padding: 0;
        border: none;
    }
    .dev-item div{
        flex-direction: column;
    }
    .dev-item ul{
        margin: 2.5px 0;
        width: 100%;
    }
    .dev-item ul:first-child{
      margin-top: 0;
    }
    .dev-item div ul p{
        font-size: 18px;
    }
    /* ----CONTENEDOR DE CADA ITEM DE SOFT SKILLS---- */
    .soft-item{
      margin: 12px 0;
      width: 80%;
      height: auto;
  }
  /* ----IMAGEN DE CADA ITEM DE SOFT SKILLS---- */
    .soft-skill-item{
        width: 50px;
        height: 50px;
    }
    .soft-item p{
        font-size: 18px;
    }
    /* ----PIE DE PAGINA--- */
    footer{
        height: 200px;
    }
    footer p {
        margin: 0;
        font-size: 20px;
    }
    footer p i{
      font-size: 16px;
    }
    footer img{
        width: 24px;
    }
    footer div {
        width: 100px;
        height: 50px;
    }
    .fa-linkedin, .fa-github{
        font-size: 30px;
    }
}
@media  (min-width: 700px) and (max-width: 1112px) {
  /* -------------MENU------------ */
  nav{
      height: 120px;
  }
  nav ul li{
      font-size: 16px;
  }
  nav ul li:hover{
      font-size: 18px;
  }
  #flag{
      right: 15px;
      top: 90px;
  }
  main{
      margin-top: 120px;
  }
  .skill-items{
      width: 80%;
  }
  .dev-item{
    width: 90%;
  }
}